app/config/config.local.neon

vendor/

\.idea/

log/

startbootstrap-shop-homepage-gh-pages/

temp/

\.htaccess

composer\.json

composer\.lock

db\.png

Serials\.xml

www/img/old/

www/img/products/
