<form  n:name="findForm" id="main-contact-form" name="contact-form" method="post">
        <input n:name="phrase" type="text" placeholder="Zadejte hledaný produkt..." required>
        <input n:name="submit" type="submit" value="Hledat">
</form>