<form  n:name="shippingAndPaymentForm">
    <h2>Způsob doručení</h2>
        {foreach $form[shipping]->items as $key => $label}
            <input n:name="shipping:$key">
            <label n:name="shipping:$key">{$label}</label>
            <a>{$key==1?'98 Kč':'Zdarma'}</a>
        {/foreach}
    <h2>Způsob platby</h2>
    {foreach $form[payment]->items as $key => $label}
        <input n:name="payment:$key">
        <label n:name="payment:$key">{$label}</label>
        <a>{$key==1?'30 Kč':'Zdarma'}</a>
    {/foreach}
    <a href="{plink UvodniStrana:default}">Zpět do obchodu</a>
    <input n:name="submit">
</form>